body{
    background-color: aqua;
  }

p {
  color: red;
} 

.HEADER{
  background-color: blue;
  display:flex;
  justify-content: space-around;
}

.GAMES{
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}